.menu{
    height: 50px;
    background-color: lightgray;
}
.menu>ul{text-align: center;}
.menu>ul>li{
    display: inline-block;
    line-height: 50px;
    width: 100px;
    background-color: orange;
    position: relative;
}
.sub{
    position: absolute;
    background-color: pink;
    min-width: 100px;
    display: block;
}

.menu>ul>li:hover {
    cursor: pointer;
    .sub {display: block;}
}