div{
    width: 100px;
    height: 50px;
    margin: 50px;
    background-color: lightblue;
}
.b_wrapper{
    height: auto;
    overflow: hidden;
}
.b{
    overflow: hidden;
    background-color: red;
    margin: 50px 0px;
}